:root {
    --verde:   #1E5631;
    --verde2:  #1E8449;
    --verde3:  #3FA06A;
    --areia:   #FAF9F4;
    --ambar:   #C8892A;
    --tinta:   #1A1A1A;
    --cinza:   #5A6360;
    --linha:   #D8DED9;
    --fundo2:  #EAF2ED;
  }